<section class="container px-7 py-20 max-w-screen-lg m-auto">
    <!-- header -->
    <div class="text-center mb-16">
        <h1 class="text-4xl mb-6">ابزار ها</h1>
        <p class="max-w-sm mx-auto text-gray-700">
            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.
        </p>
    </div>

    <!-- row -->
    <div class="py-6">
        <h3 class="text-2xl font-medium">ویرایش فایل</h3>
        <!-- items -->
        <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-4 lg:gap-16 py-7 pr-7">
            <!-- item -->
            <div class="group">
                <a href=""
                    class="flex justify-between text-xl text-gray-700 group-hover:text-green-800 font-medium mb-2 group-hover:underline"><span>تغییر
                        فرمت</span><img src="./assets/image/tabler-icon-arrow-left.svg"></a>
                <p class="text-gray-700">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت </p>
            </div>
            <!-- item -->
            <div class="group">
                <a href=""
                    class="flex justify-between text-xl text-gray-700 group-hover:text-green-800 font-medium mb-2 group-hover:underline"><span>تغییر
                        فرمت</span><img src="./assets/image/tabler-icon-arrow-left.svg"></a>
                <p class="text-gray-700">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت </p>
            </div>
            <!-- item -->
            <div class="group">
                <a href=""
                    class="flex justify-between text-xl text-gray-700 group-hover:text-green-800 font-medium mb-2 group-hover:underline"><span>تغییر
                        فرمت</span><img src="./assets/image/tabler-icon-arrow-left.svg"></a>
                <p class="text-gray-700">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت </p>
            </div>
        </div>
    </div>
    <!-- row -->
    <div class="py-6">
        <h3 class="text-2xl font-medium">ویرایش فایل</h3>
        <!-- items -->
        <div class="grid sm:grid-cols-2 md:grid-cols-3 gap-4 lg:gap-16 py-7 pr-7">
            <!-- item -->
            <div class="group">
                <a href=""
                    class="flex justify-between text-xl text-gray-700 group-hover:text-green-800 font-medium mb-2 group-hover:underline"><span>تغییر
                        فرمت</span><img src="./assets/image/tabler-icon-arrow-left.svg"></a>
                <p class="text-gray-700">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت </p>
            </div>
            <!-- item -->
            <div class="group">
                <a href=""
                    class="flex justify-between text-xl text-gray-700 group-hover:text-green-800 font-medium mb-2 group-hover:underline"><span>تغییر
                        فرمت</span><img src="./assets/image/tabler-icon-arrow-left.svg"></a>
                <p class="text-gray-700">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت </p>
            </div>
        </div>
    </div>
</section>